
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#00b3b3; padding-top:30px;">
    <div class="container">
        <div class="row col-sm-12 col-lg-12 col-md-12 text-info text-center">
            <h1>Role Manager</h1>
            <hr />
            <br />
        </div><!--Heading-->
        <div class="row" style="margin-left:40px; margin-bottom:15px;">
            <div class="alert-info col-lg-11 col-md-11 col-sm-11">
                @ViewBag.Message
            </div> <!--Show Message-->
        </div>
        <div class="row col-sm-12 col-lg-12 col-md-12">
            <!--Main Part-->
            <div class="col-sm-1 col-lg-1 col-md-1"></div> <!--1st column left gap-->

            <div class="row col-sm-5 col-lg-5 col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Create a new Role</h4>
                    </div><!--Create Role heading-->

                    <div class="panel-body">
                        @using (Html.BeginForm("Create", "Roles", new { @class = "form-horaizontal" }))
            {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div>
                                Role Name: @Html.TextBox("RoleName")
                                <input type="submit" value="Save" class="btn-primary" />
                            </div>
                        }
                    </div><!--Create Role body-->
                </div><!--Create Role-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Role List</h4>
                    </div><!--Role List Heading-->

                    <div class="panel-body">
                        <table class="table-striped table-hover row col-sm-5 col-lg-5 col-md-5">
                            @foreach (var role in ViewBag.Roles)
                            {
                                <tr>
                                    <td class="row col-sm-1 col-lg-5 col-md-5">
                                        <strong>@role.Text</strong>
                                    </td><!--Role Name-->
                                    <td class="row col-sm-1 col-lg-1 col-md-1">
                                        <span onclick="return confirm('Are you sure to delete')">
                                            <a href="/Roles/Delete?RoleName=@role.Text" class="delLink" style="color:red;">Delete</a>
                                        </span>
                                        @Html.ActionLink("Edit", "Edit", new { roleName = @role.Text })
                                    </td><!--Action Name-->
                                </tr>
                            }
                        </table>
                    </div><!--Role List Body-->
                </div> <!--Role List-->


            </div><!--1st Column-->

            <div class="col-sm-1 col-lg-1 col-md-1"></div> <!--2nd column left gap-->

            <div class="row col-sm-5 col-lg-5 col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Add a Role to a User</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("RoleAddToUser", "Roles"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <p>User Name: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...")</p>
                            <p>Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")</p>
                            <p><input type="submit" value="Save" class="btn-primary" /></p>
                        }
                    </div>
                </div><!--Role add to User-->

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>List of the User's Role</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("GetRoles", "Roles"))
                        {
                            @Html.AntiForgeryToken()
                            <p>
                                User Name : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...")
                                <input type="submit" value="Get Roles for this user" class="btn-primary" />
                            </p>
                        }
                        @if (ViewBag.RolesForThisUser != null)
                        {
                            <div class="alert-info">
                                <strong>Roles for this user: </strong>
                                <ol>
                                    @foreach (string s in ViewBag.RolesForThisUser)
                                    {
                                        <li>@s</li>
                                    }
                                </ol>
                            </div>
                        }
                    </div>
                </div><!--User's Role-->

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Remove Role from the User</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <p>User Name :@Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...")</p>
                            <p>Role Name :@Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")</p>
                            <p><input type="submit" value="Delete this User from Role" class="btn-primary" /></p>
                        }
                    </div>

                </div><!--Role Remove from User-->
            </div><!--2nd Column-->
        </div>        
    </div>
</div>
