@model ExamRoom_R33.Models.Examiner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Examiner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstituteAdmin.InsAdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituteAdmin.InsAdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExaminerID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
