@model ExamRoom_R33.Models.InstituteAdmin

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Institute Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InsAdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsAdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituteName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstituteAdminID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
