@model ExamRoom_R33.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionCategory.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionCategory.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionMaker.QuestionMakerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionMaker.QuestionMakerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
