@using ExamRoom_R33.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyStyleSheet.css" rel="stylesheet" />

<div id="LoginBox">    
    <div class="container" style="margin-top:110px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default" id="panelbg">
                    <img class="img-circle" style="width:90px; height:90px; position:relative; margin-top:-70px;" src="~/Content/Image/user.png" />
                                <div class="panel-body text-center" style="margin-left:35px;margin-right:35px;">
                                    <h4 class="text-center" style="margin-left:-40px;padding:0;color:#F9DF05;">Use a local account to log in</h4>
                                    
                                    <section id="loginForm">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.UserName) })
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group text-left" style="margin-left:5px;">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Log in" class="btn btn-success btn-lg btn-block" />
                                            </div>
                                        }
                                    </section>

                                            <div class="form-group">
                                                <section id="socialLoginForm">
                                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                                </section>
                                            </div>
                                            <p class="text-left">
                                                @Html.ActionLink("Register as a new user", "Register")
                                            </p>
                                            <p class="text-left">
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>
                                        

                            </div>                
                    
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}











